.drop-down-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  color: white;
  background-color: black;
  list-style-type: none;
  display: none;
}

.current {
  display: block;
}